.page-container {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: #5995DA;
    height: 80px;
}

.hidden {
    display: none;
}

.header {
    background-color: #B2D6FF;
    height: auto;
    min-height: 150px;
}

.content {
    background-color: #EAEDF0;
    height: auto;
    height: 500px;
    order: 0;
}

.options {
    background-color: #A5CA8E;
}

.feature-1 {
    background-color: #F5CF8E;
}

.feature-2 {
    background-color: #F09A9D;
}

.feature-3 {
    background-color: #C8C6FA;
}


/* Mobile Styles */

@media only screen and (max-width: 960px) {
    .options,
    .feature-1,
    .feature-2,
    .feature-3 {
        width: 100%;
    }
}


/* Desktop Styles */

@media only screen and (min-width: 961px) {
    .feature-1,
    .feature-2,
    .feature-3 {
        width: 33.33%;
    }
}

body {
    margin: 0;
}

nav {
    width: 100%;
    height: 50px;
    background: lightblue;
}

.sim_options_params {
    height: 100%;
    width: 60%;
}

.sim_options_params_inner {
    margin-top: 10%;
    height: 90%;
    width: 90%;
}

#canvas {
    width: 100%;
    height: 100%;
    float: left;
    margin-left: 0;
}

#options {
    width: 300px;
    height: 800px;
    background: gray;
    display: flex;
}


/* The slider itself */

.sim_slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 90%;
    margin-left: 5%;
    height: 20px;
    /* Specified height */
    background: lightblue;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.sim_slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

.sim_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #4CAF50;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.sim_slider::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #4CAF50;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.sim_options_label {
    color: white;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.sim_options_button {
    width: 100px;
    height: 40px;
    outline: none;
    background: #4CAF50;
    opacity: 0.7;
    border: none;
    text-color: white;
    display: block;
    margin: 0 auto;
}

.sim_options_button:hover {
    cursor: pointer;
    opacity: 1;
}

.nav_hamburger {
    background-image: url("../images/menu-512.png");
    background-size: contain;
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 0px;
    cursor: pointer;
}

.nav_title {
    position: absolute;
    left: 17.5px;
    top: 17.5px;
    color: white;
    font: 25px arial, sans-serif;
}